body{
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.contenedor{
    display: flex;
    gap: 40px;
    align-items: center;
}

.card{
    width: 260px;
    background: #fff0f5;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.resultado{
    width: 260px;
    min-height: 120px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ffc0cb;
}

input[type="submit"]{
    background: #ff66a3;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: #de6c99;
}